<section id="experience">
    <h3>Experience</h3>
    <div>
        <div class="experience-item">
            <strong><span class="editable">ORGANIZATION</span></strong>
            <span class="editable">City, State</span>
        </div>
        <div class="experience-item">
            <span class="editable">Position Title</span>
            <span class="editable">Date</span>
        </div>
        <div class="experience-item">
            <ul>
                <li><span class="editable">Description</span></li>
                <li><span class="editable">Description</span></li>
                <li><span class="editable">Description</span></li>
            </ul>
        </div>
    </div>
    <button class="add-more-icon">+</button>
</section>

<style>
    #experience h3 {
        text-align: center;
    }

    #experience div.experience-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
</style>