<section id="skills">
    <h3>Skills</h3>
    <div class="skills-item" data-template="skills">
        <strong><span class="editable">Technical</span></strong>
        <span class="editable">List computer software skills and programming languages</span>
    </div>
    <div class="skills-item" data-template="skills">
        <strong><span class="editable">Languages</span></strong>
        <span class="editable">List foreign languages and your level of proficiency</span>
    </div>
    <div class="skills-item" data-template="skills">
        <strong><span class="editable">Interests</span></strong>
        <span class="editable">List your hobbies and interests</span>
    </div>
    <button class="add-more-icon" data-template="skills">+</button>
</section>

<style>
    #skills h3 {
        text-align: center;
    }

    #skills div.skills-item {
        width: 100%;
        display: flex;
        justify-content: baseline;
    }
</style>